/* Global */

body {
    align-items: center;
    background-color: #F8EFF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    margin: 0 auto;
    width: 1100px;
}

/* Layout */

.app-logo {
    height: 300px;
    width: 300px;
}

.app-title {
    margin-bottom: 4rem;
    text-align: center;
}

/* Login */

.login {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 50px 0px #a8a8a8;
    width: 350px;
    padding: 3rem;
}

.login__title {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}

.login__message {
    margin-bottom: 2.5rem;
    text-align: center;
}

/** Login Form **/

.login-form-input {
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;
}

.login-form-input:focus {
    outline-color: #ae96e0;
}

.login-form-input--is-invalid {
    border: 1px solid #eb3636;
}

.login-form-invalid-feedback {
    color: #e66a6a;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 0 2rem 0;
    text-align: center;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
}

.login-buttons__button {
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    padding: 1rem 0;
    width: 48%;
}

.login-buttons__button:focus {outline: none;}
.login-buttons__button--green {background-color: #A5E190;}
.login-buttons__button--green:hover {background-color: #84c76b;}
.login-buttons__button:focus {background-color: #84e063;}
.login-buttons__button--blue {background-color: #93C5DB;}
.login-buttons__button--blue:hover {background-color: #6ea9c2;}
.login-buttons__button--blue:focus {background-color: #67b8db;}

/* Navigation */

.nav {
    display: flex;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 0px 50px 0px #a8a8a8;
    justify-content: space-between;
    width: 350px;
    padding: 1rem;
}

.nav__link {
    border-radius: 1rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    width: 48%;
}

.nav__link--search {
    color: white;
    background-color: #84c76b;
}

.nav__link--logout:hover {
    color: white;
    background-color: #e66a6a;
}