{% extends "layout.html" %}


{% block body %}

<nav class="nav justify-content-center">
    <a class="nav-link" href="{{ url_for('search') }}">Search</a>
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</nav>

<div class="row justify-content-center mt-5">
    <div class="col-md-9">
        <h2 class="display-4">{{ book.title }}</h2>
    </div>
</div>

<div class="row justify-content-center my-5">

    <div class="col-lg-3 col-md-4">
        
        <h3 class="mb-4">Book Info</h3>
        <p><strong>Author: </strong>{{ book.author }}</p>
        <p><strong>Publication Year: </strong>{{ book.year }}</p>
        <p><strong>ISBN: </strong>{{ book.isbn }}</p>

        <h3 class="mt-5 mb-4">Goodreads</h3>
        <p><strong>Review Count: </strong>{{ review_count }}</p>
        <p><strong>Average Rating: </strong>{{ average_rating }}</p>

    </div>

    <div class="col-lg-6 col-md-5">


        <h3 class="mb-4">Write a review</h3>
        
        <form action="{{ url_for('book', isbn=book.isbn) }}" method="post">
            <div class="form-group form-row">
                <select class="form-control" name="rating">
                    <option selected disabled>Rating</option>
                    <option value="1">1 star</option>
                    <option value="2">2 stars</option>
                    <option value="3">3 stars</option>
                    <option value="4">4 stars</option>
                    <option value="5">5 stars</option>
                </select>
            </div>
            <div class="form-group form-row">
                <textarea name="review" class="form-control" placeholder="Your Review" rows="5"></textarea>
            </div>
            <div class="form-group form-row justify-content-end">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
        
        <h3>Reviews</h3>
        
        <ul class="list-group list-group-flush">
            {% for review in reviews %}
            <li class="list-group-item pl-0">
                <p>{{ review.review }}</p>
                <p><small>{{ review.user_username }}, {{ review.rating }} / 5</small></p>
            </li>
            {% endfor %}
        </ul>

    </div>
    
</div>


{% endblock %}