{% extends "layout.html" %}


{% block body %}

<nav class="nav justify-content-center mb-3">
    <a class="nav-link" href="{{ url_for('search') }}">Home</a>
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</nav>

<div class="row justify-content-center">
    <div class="col-6">
        <h1>{{ book.title }}</h1>
        
        <h2>ISBN</h2>
        <p>{{ book.isbn }}</p>
        
        <h2>Title</h2>
        
        <h2>Author</h2>
        <p>{{ book.author }}</p>
        
        <h2>Publication Year</h2>
        <p>{{ book.year }}</p>
    </div>
    <div class="col-3">
        <h1>Goodreads</h1>
        <p>Review Count: {{ review_count }}</p>
        <p>Average Rating: {{ average_rating }}</p>
        
        <h1>Reviews</h1>
        
        <form action="{{ url_for('book', isbn=book.isbn) }}" method="post">
            <select name="rating">
                <option selected="true" disabled="disabled">Rating</option>
                <option value="1">1 star</option>
                <option value="2">2 stars</option>
                <option value="3">3 stars</option>
                <option value="4">4 stars</option>
                <option value="5">5 stars</option>
            </select>
            <input type="text" name="review" placeholder="Your Review">
            <button>Post</button>
        </form>
        
        <ul>
        {% for review in reviews %}
        <li>{{ review.review }} | Rated: {{ review.rating }} Posted by {{ review.user_username }}</li>
        {% endfor %}
        </ul>

    </div>
</div>



{% endblock %}