<!doctype html>

<html lang="en">
    
    <head>
        <title>Book Bash</title>
        <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <div class="header">
            <img src="{{ url_for('static', filename='images/new_logo.jpg') }}" class="header__logo" alt="Open book logo.">
            <h1 class="header__title">Book Bash</h1>
        </div>
        
        {% block body %}
        {% endblock %}
        
    </body>
