<!doctype html>

<html lang="en">
    
    <head>
        <title>Book Bash</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <div class="header">
            <img src="{{ url_for('static', filename='images/new_logo.jpg') }}" class="app-logo" alt="Open book logo.">
            <h1 class="app-title">Book Bash</h1>
        </div>
        
        {% block body %}
        {% endblock %}
        
    </body>

</html>