{% extends "layout.html" %}

{% block body %}

    <div class="login">

        <h2 class="login__title">Welcome!</h2>
        <p class="login__message">Search for books, rate and review with help from Goodreads, and more!</p>
        
        <form action="{{ url_for('index') }}" method="post" class="login-form">
            <input type="text" class="form-control{% if invalid_feedback %} is-invalid{% endif %}" name="username" placeholder="Username">
            <input type="password" class="form-control{% if invalid_feedback %} is-invalid{% endif %}" name="password" placeholder="Password">
            {% if invalid_feedback %}<div class="invalid-feedback">{{ invalid_feedback }}</div>{% endif %}
            <div class="login-form-buttons">
                <button type="submit" class="login-form-buttons__button" name="button" value="login" >Login</button>
                <button type="submit" class="login-form-buttons__button" name="button" value="register">Register</button>
            </div>
        </form>

    </div>
        
{% endblock %}
