{% extends "layout.html" %}

{% block body %}

    <div class="login">

        <h2 class="login__title">Login</h2>
        <p class="login__message">Search for books, rate and review with help from Goodreads, and more!</p>
        
        <form class="login__form" action="{{ url_for('index') }}" method="post">
            
            <input class="login__input{% if invalid_feedback %} login__input--is-invalid{% endif %}" type="text" name="username" placeholder="Username">
            <input class="login__input{% if invalid_feedback %} login__input--is-invalid{% endif %}" type="password" name="password" placeholder="Password">
            
            {% if invalid_feedback %}<p class="invalid-feedback invalid-feedback--login">{{ invalid_feedback }}</p>{% endif %}
            
            <div class="login__buttons">
                <button type="submit" class="button button--green" name="button" value="login" >Login</button>
                <button type="submit" class="button button--blue" name="button" value="register">Register</button>
            </div>

        </form>

    </div>
        
{% endblock %}
