{% extends "layout.html" %}

{% block body %}

<nav class="nav justify-content-center">
    <a class="nav-link disabled" href="{{ url_for('search') }}">Search</a>
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</nav>

<form action="{{ url_for('search') }}" method="get">
    
    <div class="form-row form-group justify-content-center">
        <div class="col-5">
            <input class="form-control" name="query" type="search" placeholder="Search" {% if query %}value="{{ query }}" {% endif %}aria-label="Search">
        </div>
        <div class="col-auto">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </div>
    
    <div class="form-row form-group justify-content-center">
        <div class="col-auto">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="category" id="title" value="title" checked>
                <label class="form-check-label" for="title">Title</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="category" id="author" value="author">
                <label class="form-check-label" for="author">Author</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="category" id="isbn" value="isbn">
                <label class="form-check-label" for="isbn">ISBN</label>
            </div>
        </div>
    </div>
    
</form>

{% if query %}
<div class="row justify-content-center">
    
    <div class="col-lg-9">
        
        {% if results %}
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ISBN</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Year</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td><a href="{{ url_for('book', isbn=book.isbn) }}">{{ book.isbn }}</a></td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.year }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center">No results found</p>
        {% endif %}
        
    </div>
    
</div>
{% endif %}
{% endblock %} -->
